.pagy {
  /* Base color variables */
  --pagy-hue: 0;
  --pagy-saturation: 0%;
  --pagy-lightness: 50%;
  --pagy-opacity: 1;

  /* Specific color variables (calculated) */
  --pagy-current-background: hsl(var(--pagy-hue), var(--pagy-saturation), var(--pagy-lightness));
  --pagy-current-color: white;
  --pagy-page-background: hsl(var(--pagy-hue), var(--pagy-saturation), calc(var(--pagy-lightness) + 32%));
  --pagy-page-color: hsl(var(--pagy-hue), var(--pagy-saturation), calc(var(--pagy-lightness) - 30%));
  --pagy-page-hover-background: hsl(var(--pagy-hue), var(--pagy-saturation), calc(var(--pagy-lightness) + 36%));
  --pagy-disabled-opacity: .5;
  --pagy-label-input-background: hsl(var(--pagy-hue), var(--pagy-saturation), calc(var(--pagy-lightness) + 43%));

  display: flex;
  font-family: sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: var(--pagy-page-color);
  opacity: var(--pagy-opacity);
}

.pagy > :not([hidden]) ~ :not([hidden]) {
  --space-reverse: 0;
  margin-right: calc(0.25rem * var(--space-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--space-reverse)));
}

.pagy a:not(.gap) {
  display: block;
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: var(--pagy-page-background);
  padding: 0.25rem 0.75rem;
  color: inherit;
}

.pagy a:not(.gap):hover {
  background-color: var(--pagy-page-hover-background);
  color: hsl(var(--pagy-hue), var(--pagy-saturation), calc(var(--pagy-lightness) + 4%));
}

.pagy a:not(.gap):not([href]) { /* disabled and current */
  cursor: default;
  background-color: var(--pagy-page-background);
  color: var(--pagy-page-color);
  opacity: var(--pagy-disabled-opacity);
}

.pagy a:not(.gap).current {
  background-color: var(--pagy-current-background);
  color: var(--pagy-current-color);
  opacity: 1; /* Keep hardcoded: it overrides disabled */
}

.pagy label {
  white-space: nowrap;
  display: inline-block;
  border-radius: 0.5rem;
  background-color: var(--pagy-page-background);
  padding: 0.125rem 0.75rem;
}

.pagy label input {
  line-height: 1.5rem;
  border-radius: 0.375rem;
  border-style: none;
  background-color: var(--pagy-label-input-background);
}
