/*
For visual customization and variables generation use the GUI Editor
available in the Demo App http://ddnexus.github.io/pagy/sandbox/playground#3-demo-app
*/


.pagy {
  /* Base color variables */
  --hue: 0;
  --saturation: 0%;
  --lightness: 50%;
  --opacity: 1;

  /* Specific color variables (calculated) */
  --current-text:       white;
  --current-background: hsl(var(--hue), var(--saturation),      var(--lightness));
  --text:               hsl(var(--hue), var(--saturation), calc(var(--lightness) - 30%));
  --background:         hsl(var(--hue), var(--saturation), calc(var(--lightness) + 32%));
  --hover-text:         hsl(var(--hue), var(--saturation), calc(var(--lightness) +  4%));
  --hover-background:   hsl(var(--hue), var(--saturation), calc(var(--lightness) + 36%));
  --input-background:   hsl(var(--hue), var(--saturation), calc(var(--lightness) + 43%));
  --disabled-opacity:   .5;

  /* Base layout variables */
  --spacing: 0.125rem;
  --rounding: 1.5rem;
  --padding: 0.625rem;

  /* legacy values
  --spacing: .25rem;
  --rounding: .5rem;
  --padding: .75rem;
   */

  display: flex;
  font-family: sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: var(--text);
  opacity: var(--opacity);
}

.pagy > :not([hidden]) ~ :not([hidden]) {
  margin-left: calc(var(--spacing) * (1 - var(--space-reverse, 0)));
  margin-right: calc(var(--spacing) * var(--space-reverse, 0));
}

.rtl .pagy > :not([hidden]) ~ :not([hidden]) {
  --space-reverse: 1;
}

.pagy a:not(.gap) {
  display: block;
  text-decoration: none;
  border-radius: var(--rounding);
  background-color: var(--background);
  padding: calc(var(--padding) / 3) var(--padding);
  color: inherit;
}

.pagy a:not(.gap):hover {
  background-color: var(--hover-background);
  color: var(--hover-text)
}

.pagy a:not(.gap):not([href]) { /* disabled and current */
  cursor: default;
  background-color: var(--background);
  color: var(--text);
  opacity: var(--disabled-opacity);
}

.pagy a:not(.gap).current {
  background-color: var(--current-background);
  color: var(--current-text);
  opacity: 1; /* Keep hardcoded: it overrides disabled */
}

.pagy label {
  white-space: nowrap;
  display: inline-block;
  border-radius: var(--rounding);
  background-color: var(--background);
  padding: calc(var(--padding) / 3) var(--padding);
}

.pagy label input {
  all: unset;
  border-style: none;
  border-radius: calc(var(--rounding) / 2);
  background-color: var(--input-background);
}
