.pagy {
  --B: 1;
  --H: 0;
  --S: 0;
  --L: 50;
  --spacing: 0.125rem;
  --padding: 0.75rem;
  --rounding: 1.75rem;
  --border-width: 0rem;
  --font-size: 0.875rem;
  --font-weight: 600;
  --line-height: 1.75;

  --text:               hsl(var(--H) var(--S) calc(var(--L) - (25 * var(--B))));
  --text-hover:         hsl(var(--H) var(--S) calc(var(--L) - (30 * var(--B))));
  --text-current:       hsl(var(--H) var(--S) calc(100 * (var(--B) + 1)));
  --background:         hsl(var(--H) var(--S) calc(var(--L) + (30 * var(--B))));
  --background-hover:   hsl(var(--H) var(--S) calc(var(--L) + (20 * var(--B))));
  --background-current: hsl(var(--H) var(--S) var(--L));
  --background-input:   hsl(var(--H) var(--S) calc(var(--L) + (45 * var(--B))));
  --opacity: 1;

  color: var(--text);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  display: flex;
}

.pagy > :not([hidden]) ~ :not([hidden]) {
  margin-left: calc(var(--spacing) * (1 - var(--space-reverse, 0)));
  margin-right: calc(var(--spacing) * var(--space-reverse, 0));
}

.rtl .pagy > :not([hidden]) ~ :not([hidden]) {
  --space-reverse: 1;
}

.pagy a:not(.gap) {
  display: block;
  text-decoration: none;
  background-color: var(--background);
  padding: calc(var(--padding) / 3) var(--padding);
  border: var(--border-width) solid var(--background-current);
  border-radius: var(--rounding);
  color: inherit;
  opacity: var(--opacity);
}

.pagy a:not(.gap):hover {
  background-color: var(--background-hover);
  color: var(--text-hover)
}

.pagy a:not(.gap):not([href]) { /* disabled and current */
  cursor: default;
  background-color: var(--background);
  color: var(--text);
  opacity: calc(var(--opacity)*.6);
}

.pagy a:not(.gap).current {
  background-color: var(--background-current);
  color: var(--text-current);
  border-color: var(--text);
  opacity: var(--opacity);
}

.pagy label {
  white-space: nowrap;
  display: inline-block;
  border: var(--border-width) solid var(--background-current);
  border-radius: var(--rounding);
  background-color: var(--background);
  padding: calc((var(--padding) / 3) - var(--border-width)) var(--padding);
}

.pagy label input {
  all: unset;
  border: var(--border-width) solid var(--background-current);
  border-radius: calc(var(--rounding) / 2) !important;
  background-color: var(--background-input);
}
