h1 {
  margin-left: -20px;
  padding-left: 10px;
}

h2 {
  margin-left: -18px;
  padding-left: 10px;
}

h3 {
  margin-left: -16px;
  padding-left: 10px;
}

h4 {
  margin-left: -14px;
  padding-left: 10px;
}

h5 {
  margin-left: -12px;
  padding-left: 10px;
}

h6 {
  margin-left: -10px;
  padding-left: 10px;
}

h1 .octicon, h2 .octicon, h3 .octicon, h4 .octicon, h5 .octicon, h6 .octicon  {
  visibility: hidden;
}

h1:hover .octicon, h2:hover .octicon, h3:hover .octicon, h4:hover .octicon, h5:hover .octicon, h6:hover .octicon {
  visibility: visible;
}

.octicon {
  fill: currentColor;
  padding: 0;
  margin-left: -16px;
  vertical-align: middle;
}
