---
---

@import "{{ site.theme }}";

body {
  background-color: #f7f7f7;
  color: #51585F;
}

a:hover, a:focus {
  font-weight: normal;
  text-decoration: underline;
}

code {
  font-size: .8rem;
  padding: 2px 5px;
  background-color: #FFF;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

pre {
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  code {
    border: none;
    padding: 0;
    box-shadow: none;
  }
}

.highlight {
  border-radius: 5px;
  background-color: #FFF;
}

header {
  div#site-header {
    border-bottom: 1px solid #e5e5e5;
  }
  h1#site-title {
    margin-bottom: .5rem;
  }
  p {
    margin-bottom: .5rem;
  }
}

#toc {
  margin: 2em 0;
  white-space: nowrap;
  p {
    margin: .4em 0;
  }
  p.indent1 {
    margin-left: 2rem;
  }
  p#gitter-support {
    font-weight: bold;
    margin-top: 2em;
    a:hover {
      font-weight: bold;
    }
  }
}

footer {
  bottom: 0;
}

@media print, screen and (max-width: 960px) {

  header {
    padding-right: 0;
  }

}

p#active {
  position: relative;
  font-weight: bold;
  &:before {
    content: "\25B6";
    position: absolute;
    left: -1rem;
  }
}
