name: Publish Pre Docs
on:
  workflow_dispatch:
  push:
    branches:
      - 'master-pre' # run only for master-pre

jobs:
  skip_check:
    name: Skip Check
    continue-on-error: true
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5.3.1
        with:
          concurrent_skipping: 'never'
          skip_after_successful_duplicate: 'true'
          paths: '[
            ".github/workflows/publish-docs.yml",
            "assets/**",
            "docs/**",
            "gem/**",
            "README.md"
            ]'
          paths_ignore: '[
            "gem/apps/**",
            "gem/bin/**",
            "gem/lib/**",
            "gem/locales/**",
            "!gem/locales/en.yml",
            "!gem/pagy.gemspec",
            "!gem/**/tmp/**",
            "!gem/**/README.md"
            ]'
          do_not_skip: '["workflow_dispatch"]'

  publish:
    needs: skip_check
    if: ${{ needs.skip_check.outputs.should_skip != 'true' }}
    name: Publish to docs-site branch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 9.0.x

      - uses: retypeapp/action-build@v3
        with:
          config_path: docs/
          url: '{"url": "url: "https://ddnexus.github.io/pagy-pre"}'

      - name: Deploy Pre-Release Docs to pagy-pre repository
        uses: peaceiris/actions-gh-pages@v4 # Using v4, check for latest if needed
        with:
          personal_token: ${{ secrets.PAGY_PRE_DOCS_PAT }}
          external_repository: ddnexus/pagy-pre
          publish_branch: docsite
          publish_dir: ${{ env.RETYPE_OUTPUT_PATH }}
