name: Publish Retype powered website to GitHub Pages
on:
  workflow_dispatch:
  push:
    branches:
      - 'master' # run only for master

jobs:
  publish:
    name: Publish to docs-site branch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: retypeapp/action-build@v3
      - uses: retypeapp/action-github-pages@v3
        with:
          branch: docs-site
          update-branch: true
